@inherits LayoutComponentBase
<div class="page">
    <!--
    <div class="sidebar">
        <NavMenu />
    </div>
    -->

    <main>
        <div class="top-row2 px-4">
            <div class="darkbackground px-1">
                <a href="/">Home</a>
            </div>
            <div class="darkbackground px-1">
                <a href="/addpage">Add Page</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
