@page "/"
@{
    string HomeTitle = "Cosmic Starfront Wiki";
}

<PageTitle>@HomeTitle</PageTitle>

<h1>Cosmic Starfront Wiki</h1>

<p>Welcome to the official Cosmic Starfront Wiki, the official resource for the game.</p>

<div style="display: flex; justify-content: space-between; background-color: grey; border: 1px; margin: 10px; padding: 10px">
    <div style="display: flex; flex-direction: column; align-items:center">
        <img src="images/BountyHunter.jpg" style="height: 175px;"/>
        Characters
    </div>
    <div style="display: flex; flex-direction: column; align-items:center">
        <img src="images/Alien Soldier.jpg" style="height: 175px;" />
        Enemies
    </div>
    <div style="display: flex; flex-direction: column; align-items:center">
        <img src="images/Energy Rifle.jpg" style="height: 175px;" />
        Weapons
    </div>
    <div style="display: flex; flex-direction: column; align-items:center">
        <img src="images/PowerArmour1.png" style="height: 175px;" />
        Armour
    </div>
    <div style="display: flex; flex-direction: column; align-items:center">
        <img src="images/ScanningDevice.jpg" style="height: 175px;" />
        Technology
    </div>
    <div style="display: flex; flex-direction: column; align-items:center">
        <img src="images/BlueHolographicPlanet.jpg" style="height: 175px;" />
        Missions
    </div>
</div>

<div style="display: flex; justify-content: space-between; background-color: grey; border: 1px; margin: 10px; padding: 10px">
    <div style="display: flex; flex-direction: column; align-items:center">
        <img src="images/NCA_Logo1.jpg" style="height: 175px;" />
        <a href="/Factions">Factions</a>
    </div>
    <div style="display: flex; flex-direction: column; align-items:center">
        <img src="images/Tank1.jpg" style="height: 175px;" />
        Vehicles
    </div>
    <div style="display: flex; flex-direction: column; align-items:center">
        <img src="images/Moonbase1.jpg" style="height: 175px;" />
        Locations
    </div>
    <div style="display: flex; flex-direction: column; align-items:center">
        <img src="images/SpaceshipInterior.jpg" style="height: 175px;" />
        History
    </div>
</div>

<div style="display: flex; justify-content: space-between; background-color: grey; border: 1px; margin: 10px; padding: 10px">
    News
</div>

<div style="display: flex; justify-content: space-between; background-color: grey; border: 1px; margin: 10px; padding: 10px">
    Links
</div>
