@page "/"
@{
    string HomeTitle = "Cosmic Starfront Wiki";
}

<PageTitle>@HomeTitle</PageTitle>

<h1>Cosmic Starfront Wiki</h1>

<p>Welcome to the official Cosmic Starfront Wiki, the official resource for the game.</p>

<div class="flex1">
    <div class="flex2">
        <img src="images/BountyHunter.jpg"/>
        <a href="/Characters">Characters</a>
    </div>
    <div class="flex2">
        <img src="images/Alien Soldier.jpg"/>
        Enemies
    </div>
    <div class="flex2">
        <img src="images/Energy Rifle.jpg"/>
        Weapons
    </div>
    <div class="flex2">
        <img src="images/PowerArmour1.png"/>
        Armour
    </div>
    <div class="flex2">
        <img src="images/ScanningDevice.jpg"/>
        Technology
    </div>
    <div class="flex2">
        <img src="images/BlueHolographicPlanet.jpg"/>
        Missions
    </div>
</div>

<div class="flex1">
    <div class="flex2">
        <img src="images/NCA_Logo1.jpg"/>
        <a href="/Factions">Factions</a>
    </div>
    <div class="flex2">
        <img src="images/Tank1.jpg" />
        Vehicles
    </div>
    <div class="flex2">
        <img src="images/Moonbase1.jpg"/>
        Locations
    </div>
    <div class="flex2">
        <img src="images/SpaceshipInterior.jpg"/>
        History
    </div>
</div>

<div class="flex1">
    News
</div>

<div class="flex1">
    Links
</div>
