@page "/Searchlist/{searchQuery}"
@using CosmicStarfrontWiki.Web.Models
@using CosmicStarfrontWiki.Web.Services

<h1>Search List</h1>
@if (Result.Count == 0) 
{
    <h3>No Matching Results.</h3>
} 
else 
{
    @foreach (var item in Result)
    {
        <h3>
            <a href="/wiki/@(item.Title)">@item.Title</a>
        </h3>
        @if (item.Sections != null)
        {
            @if (item.Sections[0].Contents != null)
            {
                <p>@TruncateText(item.Sections[0].Contents[0].Text, 100)</p>
            }
        }
    }
}


